{% extends "layout.html.twig" %}
{% set equipementMenu = true %}

{% block title %}Equipements{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% if equipements %}
    <div class="table-responsive">
        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th>Nom de l'équipement</th>
                    <th>Description</th>
					<th>Prix</th>
					<th>Commentaire</th>
                </tr>
            </thead>
            {% for equipement in equipements %}
                <tr>
                    <td>{{ equipement.libelle }}</a></td>
                    <td>{{ equipement.description}}</td>
		 			<td>{{ equipement.prix}}</td>
		 			<td>{{ equipement.comEqui}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% else %}
    <div class="alert alert-warning">Aucun équipement trouvé.</div>
{% endif %}   
{% endblock %}